.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.me-msg{
  text-align: end;
  background-color: #E3000F;
  color: white;
  width: 70%;
  padding: 5px 10px;
  border-radius: 10px 10px 0 10px;
}

.bot-msg{
  text-align: start;
  background-color: black;
  color: white;
  width: 70%;
  padding: 5px 10px;
  border-radius: 10px 10px 0 10px;
}

.main{
  background: #EEE;
  height: 100vh;
  position: relative;
}

.header{
  background: #FF0000;
  height: 80px;
  position: absolute;
  width: 100%;
  box-shadow: 0px 5px 5px grey;
}
.message-list{
  width: 400px;
  background: white;
  border: 1px solid #DDD;
  border-radius: 10px;
  padding-top: 1em;
}

.link-contract{
  position: absolute;
  right: 40px;
  top: 150px;
  background: #FF0000;
  color: white;
  padding: 0.5em 1em;
  border-radius: 20px

}

.message-list-container{
  position: absolute;
  bottom: 200px;
  width: 100%;
  height: 300px;
  padding: 0 5em;
}

.message-list-container .message-list{
  width: 400px;
  background: white;
  border: 1px solid #DDD;
  border-radius: 10px;
  padding-top: 1em;
}

.send-button{
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  border-radius: 20px;
  background: #FF0000;
  border: 1px solid #DDD;
}

.chat-control{
  background: white;
  border-radius: 50px;
  padding: 0.7em 1em;
  box-shadow: 0px 5px 5px grey;
}

.footer{
  background: black;
  color: white;
  height: 80px;
  position: absolute;
  width: 100%; 
  bottom: 0;
}

.rotated {
  transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}